body{
    background-color: rgba(65, 105, 225, 1);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    font-size: 20px; 
    text-align: center;
    height: 100%;
    margin: 0;
}

.menu{
    font-size: 30px;
    margin-bottom: 5%;
    z-index: 2;
}

div a{
    text-decoration: none;
    color: white;
}


.front-page h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    text-align: center;
    z-index: 2;
}

.size{
    font-size: 30px;
}

.menu-pages{
    color:#211f1f;
    font-size: 45px;
    margin-bottom: 10%;
}

.content-menu{
    margin-bottom: 20%;
}

.description{
    background-color: aqua;
    margin-top: 5%;
    width: 60%;
    font-size: 25px;
}

.technology_images img{
    width: 70px;
    height: 70px;
    margin: 1%;
    margin-bottom: 8%;
}

.title{
    text-align: center;
}

.color{
    color: #fff;
}

.content{
    position: relative;
    margin-top: 10%;
}

.carousel-view{
    overflow: hidden;
    position: relative;
    background-color: rgb(24, 34, 65);
    width: 100%;
}

button{
    width: 40px;
    height: 40px;
    background-color: pink;
    border: none;
}

.list{
    width: 70%;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
}

.image{
    scroll-snap-align: center;
}

.item{
    margin: 1%;
    padding: 30px;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#previous-image, #next-image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    background-color: transparent;
}

#previous-image{
    left: 0;
}

#next-image{
    right: 0;
}

/*hide scrollbar for Chrome*/
.list::-webkit-scrollbar{
    display: none;
}

/*hide scrollbar for any other browsers*/
.list{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form{
    margin-right: 5%;
    margin-bottom: 10%;
}

form input{
    width: 200px;
    height: 50px;
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

form input:hover{
    background-color: #2980b9;
}
