body {
    background: linear-gradient(to bottom, #696851, #534f4f);
    color: #fff;
}

.section {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
    border-radius: 20px;
    box-sizing: border-box;
    clear: both;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    color: #f8f8f8;
    margin-bottom: 80px;
    transition: color 0.3s ease;
}

.description {
    text-align: left;
    font-size: 2.2rem;
    color: #7e9176;
    max-width: 800px;
    margin: 0 auto;
}

.description p {
    line-height: 1.6;
    transition: color 0.3 ease;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.description p:hover, .title:hover{
    color: rgb(43, 34, 34);
}

.section img {
    height: 60%;
    width: 80%;
    display: block;
    margin-bottom: 0 auto 10px;
}

.section p{
    font-size: 2.2rem;
    font-family: 'Raleway', sans-serif;
    color: #333;
}

.section.description, .section.page, .section.inside-options {
    float: left;
    width: calc(70% - 20px);
}

.section.home, .section.profile, .section.deals {
    float: right;
    width: calc(70% - 20px);
}

.section.home, .section.profile, .section.deals {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #3C5B6F 0%, #92b2c8 100%);
}

.section.description, .section.page, .section.inside-options {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to left, #297d53 0%, #f2f2f2 100%);
}

.section::after{
    content: "";
    display: table;
    clear: both;
}

.section.active {
    opacity: 1;
}

.button-render {
    background-color: #696851;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    margin-bottom: 40px;
    font-size: 2.2rem;
}

.button-render:hover {
    background-color: #534f4f;
}